html,body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
}

main.random {
    grid-auto-flow: unset;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 400vw;
    height: 400vh;
    overflow: hidden;
    transition: transform 0.5s;
    place-items: center;
}

.card {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;  /* Optional, just to visualize each grid cell */
    border-radius: 10px;
    background-color: #abf7ff;
    transform-origin: center;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: red;

}
