table.listtable tbody tr.even {
    background-color: #F0F9FF;
}



#postcard1 {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=230, Color='#000000') progid:DXImageTransform.Microsoft.Matrix(
             M11=0.9945218953682733, M12=0.10452846326765346, M21=-0.10452846326765346, M22=0.9945218953682733, sizingMethod='auto expand') ;
    zoom: 1;
}

#postcard2 {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=230, Color='#000000') progid:DXImageTransform.Microsoft.Matrix(
             M11=0.9996573249755573, M12=0.02617694830787315, M21=-0.02617694830787315, M22=0.9996573249755573, sizingMethod='auto expand') ;
    zoom: 1;
}

#postcard3 {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=230, Color='#000000') progid:DXImageTransform.Microsoft.Matrix(
         M11=0.9953961983671789, M12=-0.09584575252022398, M21=0.09584575252022398, M22=0.9953961983671789, sizingMethod='auto expand') ;
    zoom: 1;
}

#postcard1, #postcard2, #postcard3 {
    top: 10px;
}

