#card {
	background: none;
	width: 220px;
	height: 200px;
	margin-top: -80px;
}

#name {
	text-indent: -9999em;
	display: none;
}

#notname, #notname a {
	width: 220px;
	height: 200px;
}

#notname a {
	display: block;
	width: 220px;
	height: 200;
	background: url(../img/index.png) no-repeat top left;
	text-indent: -9999em;
}

#reflection, #shadow {
	display: none;
}